body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url('img/background/background-1.jpg') no-repeat center center fixed; /* Ruta de la imagen de fondo */
    background-size: cover; /* La imagen cubrirá todo el fondo */
    color: white; /* Contraste con el fondo */
}

header {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro semitransparente */
    color: white;
    padding: 20px;
}

h1, h2 {
    margin: 0;
}

main {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo negro semitransparente */
    padding: 20px;
    border-radius: 8px;
    color: white;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
}

.logo {
    margin: 15px;
    text-align: center;
}

.logo img {
    width: 250px; /* Tamaño fijo */
    height: 200px; /* Tamaño fijo */
    object-fit: contain; /* Ajusta la imagen dentro del contenedor */
}

.logo p {
    margin-top: 10px;
    font-size: 16px;
    color: #ffffff;
}

footer {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
    color: white;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.about, .contact {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo blanco translúcido */
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.about h2, .contact h2 {
    font-size: 24px;
    color: #00aaff; /* Dorado */
}

.about p, .contact p {
    font-size: 16px;
    line-height: 1.6;
    color: #ffffff; /* Contraste en textos */
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact a {
    text-decoration: none;
    color: #00aaff; /* Dorado para enlaces */
    font-size: 16px;
}

.contact a:hover {
    text-decoration: underline;
}
